@model ClinicaGAP.Models.CITA

@{
    ViewBag.Title = "Details";
}

<h2>Administración de citas.</h2>

<div>
    <h4>Detalles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FECHA_CITA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FECHA_CITA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ESTADO1.DESCRIPCION)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ESTADO1.DESCRIPCION)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PACIENTE.CEDULA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PACIENTE.CEDULA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TIPO_CITA1.DESCRIPCION)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TIPO_CITA1.DESCRIPCION)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_CITA }) |
    @Html.ActionLink("Regresar", "Index")
</p>